.accounts-container {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.actions {
  font-size: small;
  color: var(--primaryColor);
}

.actions span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.add-account {
  position: fixed;
  bottom: 8px;
  right: 8px;
}
