.transactions-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 32px 0;
  border-bottom: 1px solid var(--borderColor);
}

.transactions-selection .select {
  width: 180px;
}

.add-transaction {
  position: fixed;
  bottom: 8px;
  right: 8px;
}

td[name="actions"] {
  border-right: none;
  width: calc(100% - 24px);
  font-size: small;
  display: flex;
  justify-content: space-evenly;
}

td[name="actions"] span {
  cursor: pointer;
}

td[name="actions"] span:hover {
  text-decoration: underline;
}

td[name="actions"] span[name="edit"] {
  color: blue;
}

td[name="actions"] span[name="delete"] {
  color: red;
}

/* Balances List */
.balances-list {
  padding: 2rem;
  margin-bottom: 4rem;
}

.balances-list table td {
  text-align: right;
}

.balances-list table td:first-child {
  text-align: center;
}

.balances-list table tr:last-child {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  th[name="notes"],
  th[name="category"],
  td[name="notes"],
  td[name="category"] {
    display: none;
  }

  .balances-list {
    padding: 0;
    margin: 2rem 0 6rem 0;
  }

  .transactions-selection .select {
    width: 100%;
  }

  .transactions-selection button {
    width: calc(100% - 16px);
  }

  .transactions-selection {
    flex-direction: column;
  }
}
